@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variaveis */
:root {
    font-size: 62.5%;

    --ff-main: "Inter", sans-serif;

    --color-health: #7990F8;
    --color-work: #46CF8B;
    --color-mental: #BC5EAD;
    --color-others: #908986;
    --color-button: #393433;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #E2E2E2;
    font-family: var(--ff-main);

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app {
    background-color: #FFFFFF;
    max-width: 70rem;
    margin: auto;
    margin-top: 12rem;
    border-radius: .5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);

    justify-items: center;
}

.date {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 4rem 0 0 4rem;
    margin-bottom: 4rem;
}

.date p {
  font-size: 5rem;
  font-weight: 500;
}

.date span {
    opacity: 30%;
    font-size: 5rem;
    font-weight: 500;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
    margin-bottom: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 27.9rem;
    height: 13.3rem;
    border-radius: .9rem;
    padding: 2.1rem;
    position: relative;
}

.work {
    background-color: #46cf8b1f;
    transition: transform .4s;
}

.health {
    background-color: #7990f827;
    transition: transform .4s;
}

.mental {
    background-color: #bc5eac25;
    transition: transform .4s;
}

.others {
    background-color: #90898623;
    transition: transform .4s;
}

.work:hover, .health:hover, .mental:hover, .others:hover {
    transform: scale(1.1);
}

.card img {
    width: 3rem;
    height: 3rem;
}

.card p {
    align-self: flex-start;
    position: absolute;
    bottom: 3rem;
    left: 2.1rem;
    font-weight: 700;
    font-size: 2.1rem;
}

.card p span {
    opacity: 60%;
    font-weight: normal;
    margin-left: .7rem;
}

.tasks {
    width: 100%;
}

.task {
   display: flex;
}

.add-button {
    border: none;
    background: none;
    background-color: #393433;
    width: 22rem;
    height: 4rem;
    color: #ffff;
    border-radius: .3rem;
    margin-bottom: 1.8rem;
    transition: transform .4s;
}

.add-button:hover{
    transform: scale(1.1);
}

/* TASKS */

.modal-tasks p:hover {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.322);
}

.modal-tasks input {
    display: none;
}

.modal-tasks input+label::before {
    content: '';
    width: 2rem;
    height: 2rem;
    border-radius: .4rem;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: .8rem;
    margin-bottom: .3rem;

}

.modal-tasks input:checked+label:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-check'%3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");

    background-position: center;
}

.modal-tasks label {
    font-size: 1.6rem;
}